.tg {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}
.tg td {
	border-color: black;
	border-style: solid;
	border-width: slim;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	text-align: center;
}
.tg th {
	border-color: black;
	border-style: solid;
	border-width: slim;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	text-align: center;
}
.tg .tg0lax {
	vertical-align: top;
	text-align: center;
}

.hovered_success {
	background-color: #dff0d8;
}

.hovered_fail {
	background-color: #f2dede;
}
