.tg {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	table-layout: fixed;
	width: 100%;
}
.tg td {
	border-color: black;
	border-style: solid;
	border-width: slim;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	text-align: center;
	position: relative;
	height: 3.2rem;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: slim;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	text-align: center;
}
.tg .tg0lax {
	vertical-align: top;
	text-align: center;
}

.hovered_success {
	background-color: #dff0d8;
}

.hovered_fail {
	background-color: #f2dede;
}

.cell_up {
	display: block;
	position: relative;
	width: 50%;
	float: left;
	padding-bottom: 15%;
	line-height: 100%;
	text-align: center;
	z-index: 1;
	color: white;
}

.cell_down {
	display: block;
	position: relative;
	width: 50%;
	float: left;
	padding-top: 15%;
	line-height: 100%;
	text-align: center;
	z-index: 1;
}

.cell_split::after {
	content: '';
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(51, 51, 51, 0.6);
	background-size: cover;
	clip-path: polygon(100% 0%, 0% 0%, 0% 100%);
}

.num_cell {
	width: 2.5rem;
	border-width: slim;
}

.btn_remove {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	color: rgb(255, 0, 0, 0.3);
}

.btn_remove:hover {
	color: rgb(255, 0, 0, 0.6);
	cursor: pointer;
}
